body {
	margin: 0 auto;
	background-color: #C5CAE9;
	font-family: 'Roboto', sans-serif;
	overflow: hidden;
}

.container {
	margin: 0 auto;
	width: 1200px;
}

nav {
	margin: 0;
	height: 75px;
	background-color: #303F9F;
	font-size: 100px;
	box-shadow: 0px 15px 12px 2px rgba(106,106,110,0.75);
	font-size: 45px;
	position: fixed;
	width: 100%;
}

nav {
	top: 0;
}

.navhead {
	float: right;
	margin-top: 10px;
	margin-right: 10px;
	font-size: 40px;
}


.home {
	margin: 0 auto;
	width: 900px;
	margin-top: 135px;
	height: 500px;
	background-color: #3F51B5;
	box-shadow: -15px 20px 12px 4px rgba(106,106,110,0.75);
}

.homeright {
	width: 350px;
	float: right;
	margin-right: 25px;
}



h1 {
	font-size: 40px;
}

h3 {
	font-size: 30px;
}


i {
	color: #C5CAE9;
	margin: 10px;
}

.fa:hover {
	color: white;
}


a{
	color: #C5CAE9;
	text-decoration: none;
}

.me {
	height: 500px;
	width: 500px;
}

p {
	color: white;
}

.site {
	margin-top: 100px;
	background-color: #303F9F;
	height: 400px;
	width: 580px;
	margin-bottom: 150px;
	text-align: right;
	box-shadow: -15px 20px 12px 4px rgba(106,106,110,0.75);
}

.blue {
	color: #C5CAE9;
	margin: 10px;
	font-size: 20px;
}

.blue:hover {
	color: white;
}

.siteshot {
	width: 580px;
}

.left {
	float: left;
}

.right {
	float: right;
}

.portfolio {
	margin: 0 auto;
	margin-top: 90px;
}
	
a:active {
	color: white;
}

/* +ICON STUFF HERE */

.material-icons {
	position: fixed;
	color: red;
	float: right;
	font-size: 100px !important;
	bottom: 0px;
	right: 10px;
	background-repeat: no-repeat;
	background-size: 50px 50px;

}

.icon-wrapper {
	position: fixed;
	background-color: white;
	height: 84px;
	width: 83px;
	float: right;
	bottom: 18px;
	right: 28px;
	border-radius: 41px;
	box-shadow: 0px 0px 7px 5px rgba(106,106,110,0.75);
}

.icon-wrapper:hover {
	box-shadow: 0px 0px 13px 3px rgba(106,106,110,0.75);
}
